Repository andyroo2000/convo-lab: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

.lintstagedrc.json:

{
  "client/src/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "server/src/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "shared/src/**/*.{ts,tsx}": ["eslint --fix --max-warnings=0", "prettier --write"],
  "**/*.config.{ts,js,cjs,mjs}": ["prettier --write"],
  "**/*.{json,md}": ["prettier --write"]
}

test: add 80% minimum coverage thresholds to client and server
  .lintstagedrc.json
  CHANGELOG.md
  client/package.json
  client/vitest.config.ts
  package-lock.json
  package.json
  server/vitest.config.ts
Due: prettier --write

chore: add autonomous lint fixing harness with resilience utilities
  CHANGELOG.md
  scripts/lint-harness.ts
  scripts/utils/progress-watchdog.js
  scripts/utils/resilient-harness-wrapper.js
  scripts/utils/timeout-system-prompt.js
Due: prettier --write

chore: set package type to ES module
  CHANGELOG.md
  package.json
Due: prettier --write

test: Comprehensive test coverage improvements for episodes route and storageClient
  CHANGELOG.md
  server/src/__tests__/unit/routes/episodes.integration.test.ts
  server/src/__tests__/unit/services/storageClient.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

chore: increase harness max turns limit to 50000
  CHANGELOG.md
  scripts/accessibility-harness.ts
  scripts/i18n-harness.ts
  scripts/lint-harness.ts
  scripts/maintenance-harness.ts
  scripts/mobile-harness.ts
  scripts/monitoring-harness.ts
  scripts/perf-harness.ts
  scripts/security-harness.ts
  scripts/test-harness.ts
Due: prettier --write

chore(lint): fix 22 ESLint errors across client codebase
  client/src/components/ErrorBoundary.tsx
  client/src/components/admin/AvatarCropperModal.tsx
  client/src/components/courses/CourseCreator.tsx
  client/src/components/courses/CourseGenerator.tsx
  client/src/components/dialogue/DialogueGenerator.tsx
  client/src/components/dialogue/__tests__/DialogueGenerator.test.tsx
  client/src/pages/AdminPage.tsx
  client/src/pages/ClaimInvitePage.tsx
  client/src/pages/NarrowListeningCreatorPage.tsx
  client/src/pages/PricingPage.tsx
  client/src/pages/SettingsPage.tsx
  client/src/pages/__tests__/AdminPage.test.tsx
  client/src/pages/__tests__/PlaybackPage.test.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore: make lint harness fully autonomous
  CHANGELOG.md
  scripts/lint-harness.ts
Due: prettier --write

chore: make all harnesses fully autonomous
  CHANGELOG.md
  scripts/accessibility-harness.ts
  scripts/i18n-harness.ts
  scripts/maintenance-harness.ts
  scripts/mobile-harness.ts
  scripts/monitoring-harness.ts
  scripts/perf-harness.ts
  scripts/security-harness.ts
  scripts/test-harness.ts
Due: prettier --write

chore: add human-readable duration formatting to all harnesses
  CHANGELOG.md
  scripts/accessibility-harness.ts
  scripts/i18n-harness.ts
  scripts/lint-harness.ts
  scripts/maintenance-harness.ts
  scripts/mobile-harness.ts
  scripts/monitoring-harness.ts
  scripts/perf-harness.ts
  scripts/security-harness.ts
  scripts/test-harness.ts
  scripts/utils/format-duration.ts
Due: prettier --write

chore(lint): fix 27 ESLint errors across client codebase
  client/src/components/common/ConfirmModal.tsx
  client/src/components/common/DemoRestrictionModal.tsx
  client/src/components/courses/CourseCreator.tsx
  client/src/config.ts
  client/src/contexts/AudioPlayerContext.tsx
  client/src/contexts/AuthContext.tsx
  client/src/contexts/LocaleContext.tsx
  client/src/hooks/useAudioPlayer.ts
  client/src/hooks/useDemo.ts
  client/src/hooks/useEpisodes.ts
  client/src/hooks/useLibraryData.ts
  client/src/hooks/useQuota.ts
  client/src/pages/AdminPage.tsx
  client/src/pages/ChunkPackExamplesPage.tsx
  client/src/pages/ChunkPackExercisesPage.tsx
  client/src/pages/ChunkPackStoryPage.tsx
  client/src/pages/CoursePage.tsx
  client/src/pages/NarrowListeningLibraryPage.tsx
  client/src/pages/NarrowListeningPlaybackPage.tsx
  client/src/pages/PISessionPage.tsx
  client/src/pages/PlaybackPage.tsx
Due: eslint --fix --max-warnings=0, prettier --write

chore(lint): allow context hook exports in react-refresh rule
  CHANGELOG.md
  client/.eslintrc.json
Due: prettier --write

chore(lint): improve harness with guide files and progress tracking
  CHANGELOG.md
  scripts/harness-guides/accessibility-fixes.md
  scripts/harness-guides/code-quality-fixes.md
  scripts/harness-guides/testing-library-fixes.md
  scripts/harness-guides/typescript-fixes.md
  scripts/lint-harness.ts
Due: prettier --write

test: expand test coverage to 71% branches (+1.21%)
  server/src/__tests__/unit/i18n/emailTemplates.test.ts
  server/src/__tests__/unit/jobs/courseQueue.test.ts
  server/src/__tests__/unit/middleware/errorHandler.test.ts
  server/src/__tests__/unit/middleware/roleAuth.test.ts
  server/src/__tests__/unit/routes/admin.simple.test.ts
  server/src/__tests__/unit/services/geminiClient.test.ts
  server/src/__tests__/unit/services/ttsClient.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

docs: update CHANGELOG.md for test coverage improvements
  CHANGELOG.md
Due: prettier --write

chore: adjust coverage thresholds to match current levels
  client/vitest.config.ts
  server/vitest.config.ts
Due: prettier --write

chore: daily maintenance pass - fix build errors and type issues
  .lintstagedrc.json
  CHANGELOG.md
  client/src/__tests__/hooks/test-utils.tsx
  client/src/__tests__/hooks/useEpisodes.test.ts
  client/src/test/vitest-env.d.ts
  package-lock.json
  server/package.json
  server/src/middleware/errorHandler.ts
  server/src/services/piGenerator.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: add missing format-duration.js compilation output
  scripts/utils/format-duration.js
Due: none

chore: Daily maintenance - fix TypeScript errors and linting issues
  CHANGELOG.md
  client/src/components/__tests__/ChineseText.test.tsx
  client/src/components/__tests__/ErrorBoundary.test.tsx
  client/src/components/__tests__/ImpersonationBanner.test.tsx
  client/src/components/admin/AvatarCropperModal.tsx
  client/src/components/common/SegmentedPill.tsx
  client/src/components/common/UserMenu.tsx
  client/src/components/courses/CourseCreator.tsx
  client/src/components/courses/CourseGenerator.tsx
  client/src/components/dialogue/DialogueGenerator.tsx
  client/src/pages/AdminPage.tsx
  shared/package.json
Due: eslint --fix --max-warnings=0, prettier --write

chore: optimize pre-commit hook to only run tests for changed files
  test-commit-temp.txt
Due: none
